@charset "utf-8";
img {
  max-width: none;
  max-height: none;
}
.section {
  overflow: hidden;
  background-color: #000;
  color: #7f7f7f;
}
.center {
  width: 0;
  margin: 0 auto;
}
.loading-cover {
  background-color: #534ea8;
  color: #fff;
  -webkit-transition: opacity .5s .5s;
     -moz-transition: opacity .5s .5s;
       -o-transition: opacity .5s .5s;
          transition: opacity .5s .5s;
}
.loading-cover .timer {
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.loading-cover ._fm-circle {
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
}
.loading-cover .c-1 {
  z-index: 1;
  border-left-color: #9acd34;
  border-top-color: #9acd34;
}
.loading-cover .c-2 {
  z-index: 2;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.loading-cover .num {
  z-index: 3;
  height: 100%;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}
.loading-cover.moreHalf .c-2 {
  border-right-color: #9acd34;
  border-bottom-color: #9acd34;
  border-left-color: transparent;
  border-top-color: transparent;
}
.upArrow {
  left: 50%;
  -webkit-animation: up-down ease-in-out 0.75s infinite alternate;
     -moz-animation: up-down ease-in-out 0.75s infinite alternate;
       -o-animation: up-down ease-in-out 0.75s infinite alternate;
          animation: up-down ease-in-out 0.75s infinite alternate;
}
@-webkit-keyframes up-down {
  from {
    -webkit-transform: translate3d(0, 15px, 0);
            transform: translate3d(0, 15px, 0);
  }
}
@-moz-keyframes up-down {
  from {
    -moz-transform: translate3d(0, 15px, 0);
         transform: translate3d(0, 15px, 0);
  }
}
@-o-keyframes up-down {
  from {
    transform: translate3d(0, 15px, 0);
  }
}
@keyframes up-down {
  from {
    -webkit-transform: translate3d(0, 15px, 0);
       -moz-transform: translate3d(0, 15px, 0);
            transform: translate3d(0, 15px, 0);
  }
}
.or-txt {
  color: #ddb208;
  font-weight: bolder;
}
.sec-1 [class*="elem-"] {
  opacity: 0;
}
.sec-1 .elem-1,
.sec-1 .elem-2 {
  -webkit-transform: rotate(-170deg);
     -moz-transform: rotate(-170deg);
      -ms-transform: rotate(-170deg);
       -o-transform: rotate(-170deg);
          transform: rotate(-170deg);
}
.sec-1 .elem-5 {
  -webkit-transform: translate3d(0, 100%, 0);
     -moz-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
.sec-1 .elem-6 {
  white-space: nowrap;
  line-height: 1em;
  -webkit-transform-origin: 50% 0;
     -moz-transform-origin: 50% 0;
      -ms-transform-origin: 50% 0;
       -o-transform-origin: 50% 0;
          transform-origin: 50% 0;
}
.sec-1 .elem-7 {
  background-color: #ddb208;
}
.sec-2 [class*="elem-"] {
  opacity: 0;
}
.sec-2 .elem-1,
.sec-2 .elem-3,
.sec-2 .elem-6 {
  -webkit-transform: rotate(-170deg);
     -moz-transform: rotate(-170deg);
      -ms-transform: rotate(-170deg);
       -o-transform: rotate(-170deg);
          transform: rotate(-170deg);
}
.sec-2 .elem-7 {
  color: #fff;
  line-height: 1em;
}
.sec-2 .elem-8 {
  white-space: nowrap;
  line-height: 1em;
  -webkit-transform-origin: 50% 0;
     -moz-transform-origin: 50% 0;
      -ms-transform-origin: 50% 0;
       -o-transform-origin: 50% 0;
          transform-origin: 50% 0;
}
.sec-2 .elem-9 {
  -webkit-transform: translate3d(0, 100%, 0);
     -moz-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
.sec-3 {
  color: #fff;
}
.sec-3 [class*="elem-"] {
  opacity: 0;
}
.sec-3 .or-txt {
  line-height: 1.4em;
}
.sec-3 .pic {
  border: 1px solid #ddb208;
}
.sec-3 .pic img {
  width: 100%;
}
.sec-3 .elem-1 {
  -webkit-transform: rotate(-69deg);
     -moz-transform: rotate(-69deg);
      -ms-transform: rotate(-69deg);
       -o-transform: rotate(-69deg);
          transform: rotate(-69deg);
}
.sec-3 .elem-2 {
  -webkit-transform: rotate(-133deg);
     -moz-transform: rotate(-133deg);
      -ms-transform: rotate(-133deg);
       -o-transform: rotate(-133deg);
          transform: rotate(-133deg);
}
.sec-3 .elem-3 {
  -webkit-transform: rotate(-193deg);
     -moz-transform: rotate(-193deg);
      -ms-transform: rotate(-193deg);
       -o-transform: rotate(-193deg);
          transform: rotate(-193deg);
}
.sec-3 .elem-1 img {
  -webkit-transform: rotate(69deg);
     -moz-transform: rotate(69deg);
      -ms-transform: rotate(69deg);
       -o-transform: rotate(69deg);
          transform: rotate(69deg);
}
.sec-3 .elem-2 img {
  -webkit-transform: rotate(133deg);
     -moz-transform: rotate(133deg);
      -ms-transform: rotate(133deg);
       -o-transform: rotate(133deg);
          transform: rotate(133deg);
}
.sec-3 .elem-3 img {
  -webkit-transform: rotate(193deg);
     -moz-transform: rotate(193deg);
      -ms-transform: rotate(193deg);
       -o-transform: rotate(193deg);
          transform: rotate(193deg);
}
.sec-3 .elem-7 {
  -webkit-transform: rotate(-170deg);
     -moz-transform: rotate(-170deg);
      -ms-transform: rotate(-170deg);
       -o-transform: rotate(-170deg);
          transform: rotate(-170deg);
}
.sec-3 .elem-11 {
  -webkit-transform: translate3d(0, 100%, 0);
     -moz-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
.sec-3 .elem-12,
.sec-3 .elem-13,
.sec-3 .elem-14 {
  line-height: 1em;
}
.sec-4 [class*="elem-"] {
  opacity: 0;
}
.sec-4 .elem-1,
.sec-4 .elem-2,
.sec-4 .elem-3,
.sec-4 .elem-4,
.sec-4 .elem-5 {
  -webkit-transform: rotate(-170deg);
     -moz-transform: rotate(-170deg);
      -ms-transform: rotate(-170deg);
       -o-transform: rotate(-170deg);
          transform: rotate(-170deg);
}
.sec-4 .elem-2 img {
  -webkit-transform: rotate(63deg);
     -moz-transform: rotate(63deg);
      -ms-transform: rotate(63deg);
       -o-transform: rotate(63deg);
          transform: rotate(63deg);
}
.sec-4 .elem-3 img {
  -webkit-transform: rotate(142deg);
     -moz-transform: rotate(142deg);
      -ms-transform: rotate(142deg);
       -o-transform: rotate(142deg);
          transform: rotate(142deg);
}
.sec-4 .elem-6 {
  color: #fff;
  line-height: 1em;
}
.sec-4 .elem-7 {
  white-space: nowrap;
  line-height: 1em;
  -webkit-transform-origin: 50% 0;
     -moz-transform-origin: 50% 0;
      -ms-transform-origin: 50% 0;
       -o-transform-origin: 50% 0;
          transform-origin: 50% 0;
}
.sec-4 .elem-8 {
  -webkit-transform: translate3d(0, 100%, 0);
     -moz-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
.sec-5 {
  color: #fff;
}
.sec-5 [class*="elem-"] {
  opacity: 0;
}
.sec-5 .or-txt {
  line-height: 1.4em;
}
.sec-5 .bg {
  font-size: 120%;
  margin: 0 5px;
}
.sec-5 .elem-1 img {
  -webkit-transform: rotate(106deg);
     -moz-transform: rotate(106deg);
      -ms-transform: rotate(106deg);
       -o-transform: rotate(106deg);
          transform: rotate(106deg);
}
.sec-5 .elem-2 img {
  -webkit-transform: rotate(48deg);
     -moz-transform: rotate(48deg);
      -ms-transform: rotate(48deg);
       -o-transform: rotate(48deg);
          transform: rotate(48deg);
}
.sec-5 .elem-3 img {
  -webkit-transform: rotate(124deg);
     -moz-transform: rotate(124deg);
      -ms-transform: rotate(124deg);
       -o-transform: rotate(124deg);
          transform: rotate(124deg);
}
.sec-5 .elem-11 img,
.sec-5 .elem-12 img {
  -webkit-transform: rotate(31deg);
     -moz-transform: rotate(31deg);
      -ms-transform: rotate(31deg);
       -o-transform: rotate(31deg);
          transform: rotate(31deg);
}
.sec-5 .elem-7 {
  -webkit-transform: translate3d(0, 100%, 0);
     -moz-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
.sec-5 .elem-15,
.sec-5 .elem-16,
.sec-5 .elem-17 {
  line-height: 1.8em;
}
.sec-5 .elem-1,
.sec-5 .elem-2,
.sec-5 .elem-3,
.sec-5 .elem-8,
.sec-5 .elem-9,
.sec-5 .elem-10,
.sec-5 .elem-11,
.sec-5 .elem-12,
.sec-5 .elem-13,
.sec-5 .elem-14 {
  -webkit-transform: rotate(-170deg);
     -moz-transform: rotate(-170deg);
      -ms-transform: rotate(-170deg);
       -o-transform: rotate(-170deg);
          transform: rotate(-170deg);
}
.sec-6 [class*="elem-"] {
  opacity: 0;
}
.sec-6 .elem-2 img {
  -webkit-transform: rotate(142deg);
     -moz-transform: rotate(142deg);
      -ms-transform: rotate(142deg);
       -o-transform: rotate(142deg);
          transform: rotate(142deg);
}
.sec-6 .elem-3 img {
  -webkit-transform: rotate(40deg);
     -moz-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
       -o-transform: rotate(40deg);
          transform: rotate(40deg);
  opacity: 0.18;
}
.sec-6 .elem-4 img {
  -webkit-transform: rotate(290deg);
     -moz-transform: rotate(290deg);
      -ms-transform: rotate(290deg);
       -o-transform: rotate(290deg);
          transform: rotate(290deg);
  opacity: 0.18;
}
.sec-6 .elem-5 img {
  -webkit-transform: rotate(63deg);
     -moz-transform: rotate(63deg);
      -ms-transform: rotate(63deg);
       -o-transform: rotate(63deg);
          transform: rotate(63deg);
}
.sec-6 .elem-2,
.sec-6 .elem-3,
.sec-6 .elem-4,
.sec-6 .elem-5,
.sec-6 .elem-6 {
  -webkit-transform: rotate(-170deg);
     -moz-transform: rotate(-170deg);
      -ms-transform: rotate(-170deg);
       -o-transform: rotate(-170deg);
          transform: rotate(-170deg);
}
.sec-6 .elem-7 {
  color: #fff;
  line-height: 1em;
}
.sec-6 .elem-8 {
  white-space: nowrap;
  line-height: 1em;
  -webkit-transform-origin: 50% 0;
     -moz-transform-origin: 50% 0;
      -ms-transform-origin: 50% 0;
       -o-transform-origin: 50% 0;
          transform-origin: 50% 0;
}
.sec-6 .elem-9 {
  -webkit-transform: translate3d(0, 100%, 0);
     -moz-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
.sec-7 {
  color: #fff;
}
.sec-7 .bg {
  font-size: 120%;
  margin: 0 5px;
}
.sec-7 .elem-3 {
  -webkit-transform: rotate(37deg);
     -moz-transform: rotate(37deg);
      -ms-transform: rotate(37deg);
       -o-transform: rotate(37deg);
          transform: rotate(37deg);
}
.sec-7 .elem-11,
.sec-7 .elem-12,
.sec-7 .elem-13 {
  line-height: 1.4em;
}
.sec-8 .elem-2 {
  -webkit-transform: rotate(40deg);
     -moz-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
       -o-transform: rotate(40deg);
          transform: rotate(40deg);
  opacity: 0.18;
}
.sec-8 .elem-3 {
  -webkit-transform: rotate(290deg);
     -moz-transform: rotate(290deg);
      -ms-transform: rotate(290deg);
       -o-transform: rotate(290deg);
          transform: rotate(290deg);
  opacity: 0.18;
}
.sec-8 .elem-4,
.sec-8 .elem-5,
.sec-8 .elem-6,
.sec-8 .elem-7 {
  -webkit-transform: rotate(126deg);
     -moz-transform: rotate(126deg);
      -ms-transform: rotate(126deg);
       -o-transform: rotate(126deg);
          transform: rotate(126deg);
}
.sec-8 .elem-9 {
  color: #fff;
  line-height: 1em;
}
.sec-8 .elem-10 {
  white-space: nowrap;
  line-height: 1em;
}
.sec-9 .bg {
  opacity: 0.15;
}
.sec-9 .text {
  color: #fff;
  line-height: 1.5em;
}
.sec-9 .elem-1 {
  -webkit-transform: rotate(214deg);
     -moz-transform: rotate(214deg);
      -ms-transform: rotate(214deg);
       -o-transform: rotate(214deg);
          transform: rotate(214deg);
  opacity: 0.18;
}
.sec-9 .elem-2 {
  -webkit-transform: rotate(148deg);
     -moz-transform: rotate(148deg);
      -ms-transform: rotate(148deg);
       -o-transform: rotate(148deg);
          transform: rotate(148deg);
  opacity: 0.18;
}
.sec-9 .elem-3,
.sec-9 .elem-4 {
  color: #ddb208;
  line-height: 1em;
}
.sec-10 .elem-1 {
  -webkit-transform: rotate(214deg);
     -moz-transform: rotate(214deg);
      -ms-transform: rotate(214deg);
       -o-transform: rotate(214deg);
          transform: rotate(214deg);
  opacity: 0.18;
}
.sec-10 .elem-2 {
  -webkit-transform: rotate(148deg);
     -moz-transform: rotate(148deg);
      -ms-transform: rotate(148deg);
       -o-transform: rotate(148deg);
          transform: rotate(148deg);
  opacity: 0.18;
}
.sec-10 .elem-3,
.sec-10 .elem-4 {
  color: #ddb208;
  line-height: 1em;
}
.sec-10 .elem-8 {
  color: #fff;
  line-height: 1em;
}
.sec-11 h1 {
  color: #ddb208;
  border-bottom: 1px solid #ddb208;
  line-height: 1.42307692em;
  padding-bottom: 0.19230769em;
  margin: 0 auto;
}
.sec-11 p {
  line-height: 1.5em;
}
.sec-11 h1 + p {
  margin-bottom: 2.1em;
}
.sec-11 article img {
  padding: 0.25em 0;
}
.sec-11 .elem-2 {
  -webkit-transform: rotate(40deg);
     -moz-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
       -o-transform: rotate(40deg);
          transform: rotate(40deg);
  opacity: 0.18;
}
.sec-11 .elem-3 {
  -webkit-transform: rotate(290deg);
     -moz-transform: rotate(290deg);
      -ms-transform: rotate(290deg);
       -o-transform: rotate(290deg);
          transform: rotate(290deg);
  opacity: 0.18;
}
.sec-11 .elem-5 {
  color: #fff;
  line-height: 1em;
}
/* 动态效果 */
._fp-active.sec-1 .elem-1,
._fp-active.sec-1 .elem-2,
._fp-active.sec-1 .elem-3,
._fp-active.sec-1 .elem-4,
._fp-active.sec-1 .elem-5,
._fp-active.sec-1 .elem-7 {
  -webkit-animation: reset 3s both;
     -moz-animation: reset 3s both;
       -o-animation: reset 3s both;
          animation: reset 3s both;
}
._fp-active.sec-1 .elem-6 {
  opacity: 1;
  -webkit-animation: flipInX 3s both;
     -moz-animation: flipInX 3s both;
       -o-animation: flipInX 3s both;
          animation: flipInX 3s both;
}
._fp-active.sec-2 .elem-1,
._fp-active.sec-2 .elem-2,
._fp-active.sec-2 .elem-3,
._fp-active.sec-2 .elem-4,
._fp-active.sec-2 .elem-5,
._fp-active.sec-2 .elem-6,
._fp-active.sec-2 .elem-7 {
  -webkit-animation: reset 3s both;
     -moz-animation: reset 3s both;
       -o-animation: reset 3s both;
          animation: reset 3s both;
}
._fp-active.sec-2 .elem-8 {
  opacity: 1;
  -webkit-animation: flipInX 3s both;
     -moz-animation: flipInX 3s both;
       -o-animation: flipInX 3s both;
          animation: flipInX 3s both;
}
._fp-active.sec-2 .elem-9 {
  -webkit-animation: show_hide 3s both;
     -moz-animation: show_hide 3s both;
       -o-animation: show_hide 3s both;
          animation: show_hide 3s both;
}
._fp-active.sec-3 [class*="elem-"] {
  -webkit-animation: reset 3s both;
     -moz-animation: reset 3s both;
       -o-animation: reset 3s both;
          animation: reset 3s both;
}
._fp-active.sec-3 .elem-4,
._fp-active.sec-3 .elem-5,
._fp-active.sec-3 .elem-6 {
  -webkit-animation: fade_in_out 3s both;
     -moz-animation: fade_in_out 3s both;
       -o-animation: fade_in_out 3s both;
          animation: fade_in_out 3s both;
}
._fp-active.sec-4 [class*="elem-"] {
  -webkit-animation: reset 3s both;
     -moz-animation: reset 3s both;
       -o-animation: reset 3s both;
          animation: reset 3s both;
}
._fp-active.sec-4 .elem-7 {
  opacity: 1;
  -webkit-animation: flipInX 3s both;
     -moz-animation: flipInX 3s both;
       -o-animation: flipInX 3s both;
          animation: flipInX 3s both;
}
._fp-active.sec-4 .elem-8 {
  -webkit-animation: show_hide 3s both;
     -moz-animation: show_hide 3s both;
       -o-animation: show_hide 3s both;
          animation: show_hide 3s both;
}
._fp-active.sec-5 [class*="elem-"] {
  -webkit-animation: reset 3s both;
     -moz-animation: reset 3s both;
       -o-animation: reset 3s both;
          animation: reset 3s both;
}
._fp-active.sec-6 [class*="elem-"] {
  -webkit-animation: reset 3s both;
     -moz-animation: reset 3s both;
       -o-animation: reset 3s both;
          animation: reset 3s both;
}
._fp-active.sec-6 .elem-8 {
  opacity: 1;
  -webkit-animation: flipInX 3s both;
     -moz-animation: flipInX 3s both;
       -o-animation: flipInX 3s both;
          animation: flipInX 3s both;
}
._fp-active.sec-6 .elem-9 {
  -webkit-animation: show_hide 3s both;
     -moz-animation: show_hide 3s both;
       -o-animation: show_hide 3s both;
          animation: show_hide 3s both;
}
@-webkit-keyframes reset {
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes reset {
  to {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes reset {
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes reset {
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes reset_ {
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes reset_ {
  to {
    -moz-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes reset_ {
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes reset_ {
  to {
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
            transform: perspective(400px);
  }
}
@-moz-keyframes flipInX {
  0% {
    -moz-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
         transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -moz-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -moz-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
         transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -moz-animation-timing-function: ease-in;
         animation-timing-function: ease-in;
  }
  60% {
    -moz-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
         transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -moz-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
         transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    -moz-transform: perspective(400px);
         transform: perspective(400px);
  }
}
@-o-keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -o-animation-timing-function: ease-in;
       animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -o-animation-timing-function: ease-in;
       animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    transform: perspective(400px);
  }
}
@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
       -moz-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
       -moz-animation-timing-function: ease-in;
         -o-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
       -moz-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
       -moz-animation-timing-function: ease-in;
         -o-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
       -moz-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
       -moz-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
       -moz-transform: perspective(400px);
            transform: perspective(400px);
  }
}
@-webkit-keyframes show_hide {
  50% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes show_hide {
  50% {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    -moz-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes show_hide {
  50% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes show_hide {
  50% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes fade_in_out {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  60% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes fade_in_out {
  0% {
    -moz-transform: scale(0);
         transform: scale(0);
    opacity: 0;
  }
  60% {
    -moz-transform: scale(1.1);
         transform: scale(1.1);
    opacity: 1;
  }
  80% {
    -moz-transform: scale(0.9);
         transform: scale(0.9);
    opacity: 1;
  }
  100% {
    -moz-transform: scale(1);
         transform: scale(1);
    opacity: 1;
  }
}
@-o-keyframes fade_in_out {
  0% {
    -o-transform: scale(0);
       transform: scale(0);
    opacity: 0;
  }
  60% {
    -o-transform: scale(1.1);
       transform: scale(1.1);
    opacity: 1;
  }
  80% {
    -o-transform: scale(0.9);
       transform: scale(0.9);
    opacity: 1;
  }
  100% {
    -o-transform: scale(1);
       transform: scale(1);
    opacity: 1;
  }
}
@keyframes fade_in_out {
  0% {
    -webkit-transform: scale(0);
       -moz-transform: scale(0);
         -o-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  60% {
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
         -o-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(0.9);
       -moz-transform: scale(0.9);
         -o-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
