doctype html
html(lang='zh-CN')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1.0')
    meta(name='renderer', content='webkit')
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,minimal-ui')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='format-detection', content='telephone=no, email=no')
    link(rel='shortcut icon', href='/assets/images/favicon.ico')
    title demo
    link(rel='stylesheet', href='/assets/css/base.css')
    link(rel='stylesheet', href='/assets/css/jquery.fullPage.min.css')
    link(rel='stylesheet', href='/assets/css/H5_page.css')
  body
    .main-content.js._js-onResize(data-height='640', data-ratio='parseFloat(16 / 9)')
      section.section.sec-1
        .center._fm-rel
          img.elem.elem-1.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_1_1.png', data-msg='[380,-160,-190]')
          img.elem.elem-2.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_1_1.png', data-msg='[380,-160,-190]')
          img.elem.elem-3.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_1_2.png', data-msg='[336,-138,-168]')
          img.elem.elem-4.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/dot.png', data-msg='[36,12,-18]')
          img.elem.elem-5.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/hand.png', data-msg='[30,30,-1]')
          p.elem.elem-6._fm-abs._fm-txtcenter(data-msg='[360,0,-180,190,0,0,0,21]') 威睿科技正式上线
          span.elem.elem-7._fm-abs._fm-circle(data-msg='[26,17,-13,0,0,26]')
      section.section.sec-2
        .center._fm-rel
          img.elem.elem-1.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_1_1.png', data-msg='[380,0,0,-35,100]')
          img.elem.elem-2.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_1_2.png', data-msg='[337,160,0,0,-104]')
          img.elem.elem-3.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_2_1.png', data-msg='[167,170,81]')
          img.elem.elem-4.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_2_2.png', data-msg='[207,0,123,107]')
          img.elem.elem-5.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_2_2.png', data-msg='[110,0,91,231]')
          img.elem.elem-6.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_2_3.png', data-msg='[132,-34,-66]')
          span.elem.elem-7._fm-abs._fm-txtcenter(data-msg='[132,-34,-66,0,0,0,132,30]') 我们
          p.elem.elem-8._fm-abs._fm-txtcenter(data-msg='[360,0,-180,57,0,0,0,21]') 成为广电的融冰之光
          img.elem.elem-9.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/hand.png', data-msg='[46,45,34]')
      section.section.sec-3
        .center._fm-rel
          .elem.elem-1._fm-abs(data-msg='[0,110,-131]')
            img.elem.img-cache._fm-block(data-src='/assets/images/vr_stuff_1/sec_3_4.png', data-msg='[94,0,0]')
          .elem.elem-2._fm-abs(data-msg='[0,-39,-84]')
            img.elem.img-cache._fm-block(data-src='/assets/images/vr_stuff_1/sec_3_4.png', data-msg='[240,0,0]')
          .elem.elem-3._fm-abs(data-msg='[0,-160,-70]')
            img.elem.img-cache._fm-block(data-src='/assets/images/vr_stuff_1/sec_3_4.png', data-msg='[222,0,0]')
          img.elem.elem-4.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_3_1.png', data-msg='[280,46,0,0,-61]')
          img.elem.elem-5.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_3_1.png', data-msg='[292,0,4,-84]')
          img.elem.elem-6.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_3_1.png', data-msg='[220,0,0,74,-50]')
          img.elem.elem-7.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_3_3.png', data-msg='[250,0,0,125,44]')
          img.elem.elem-8.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/dot.png', data-msg='[38,48,0,0,70]')
          img.elem.elem-9.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/light.png', data-msg='[68,35,0,0,57]')
          img.elem.elem-10.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/light.png', data-msg='[68,35,0,0,57]')
          img.elem.elem-11.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/hand.png', data-msg='[35,71,0,0,47]')
          p.elem.elem-12._fm-abs(data-msg='[186,126,-37,0,0,0,0,18]')
            span.pic.elem._fm-inline._fm-circle._fm-overhide(data-msg='[66,0,0,0,0,66,0,0,2]')
              img.img-cache(data-src='/assets/images/vr_stuff_1/Wallace.jpg')
            br
            span.or-txt 我们
            br
            | 将引领VR新高度
          p.elem.elem-13._fm-abs._fm-txtright(data-msg='[186,0,0,111,-169,0,0,18]')
            span.or-txt
            br
            | 我们
          p.elem.elem-14._fm-abs._fm-txtright(data-msg='[186,0,0,209,-2,0,0,18]')
            span.or-txt 实力打造广电VR平台
            br
      section.section.sec-4
        .center._fm-rel
          img.elem.elem-1.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_2_1.png', data-msg='[167,185,0,0,82]')
          .elem.elem-2._fm-abs(data-msg='[0,86,3]')
            img.elem.img-cache._fm-block(data-src='/assets/images/vr_stuff_1/sec_4_1.png', data-msg='[215,0,0]')
          .elem.elem-3._fm-abs(data-msg='[0,0,0,31,71]')
            img.elem.img-cache._fm-block(data-src='/assets/images/vr_stuff_1/sec_4_1.png', data-msg='[302,0,0]')
          img.elem.elem-4.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_1_1.png', data-msg='[380,0,-7,71]')
          img.elem.elem-5.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_2_3.png', data-msg='[132,-34,-66]')
          span.elem.elem-6._fm-abs._fm-txtcenter(data-msg='[132,-34,-66,0,0,0,132,30]') 兔子VR
          p.elem.elem-7._fm-abs._fm-txtcenter(data-msg='[360,0,-180,57,0,0,0,21]') app同步上线
          img.elem.elem-8.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/hand.png', data-msg='[46,45,34]')
      section.section.sec-5
        .center._fm-rel
          .elem.elem-1._fm-abs(data-msg='[0,75,0,0,14]')
            img.elem.img-cache._fm-block(data-src='/assets/images/vr_stuff_1/sec_3_4.png', data-msg='[129]')
          .elem.elem-2._fm-abs(data-msg='[0,0,0,49,0.1]')
            img.elem.img-cache._fm-block(data-src='/assets/images/vr_stuff_1/sec_3_4.png', data-msg='[155]')
          .elem.elem-3._fm-abs(data-msg='[0,0,-32,20]')
            img.elem.img-cache._fm-block(data-src='/assets/images/vr_stuff_1/sec_3_4.png', data-msg='[155]')
          img.elem.elem-4.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/dot.png', data-msg='[38,1,0,0,13]')
          img.elem.elem-5.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/light.png', data-msg='[68,-12,0,0,0.1]')
          img.elem.elem-6.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/light.png', data-msg='[68,-12,0,0,0.1]')
          img.elem.elem-7.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/hand.png', data-msg='[36,25,0,0,1]')
          img.elem.elem-8.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_3_2.png', data-msg='[64,120,0,0,86]')
          img.elem.elem-9.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_5_1.png', data-msg='[73,0,77,64,0]')
          img.elem.elem-10.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_5_1.png', data-msg='[63,0,0,115,80]')
          .elem.elem-11._fm-abs(data-msg='[0,0.1,0,0,82]')
            img.elem.img-cache._fm-block(data-src='/assets/images/vr_stuff_1/sec_5_2.png', data-msg='[305]')
          .elem.elem-12._fm-abs(data-msg='[0,37,-4,0,0]')
            img.elem.img-cache._fm-block(data-src='/assets/images/vr_stuff_1/sec_5_2.png', data-msg='[305]')
          .elem.elem-13._fm-abs(data-msg='[0,0,0,45,53]')
            img.elem.img-cache._fm-block(data-src='/assets/images/vr_stuff_1/sec_5_2.png', data-msg='[305]')
          .elem.elem-14._fm-abs(data-msg='[0,0,5,86,0]')
            img.elem.img-cache._fm-block(data-src='/assets/images/vr_stuff_1/sec_5_2.png', data-msg='[305]')
          p.elem.elem-15._fm-abs(data-msg='[237,120,-90,0,0,0,0,17]')
            span.or-txt 时代在变革
            br
            | 你？
            span.or-txt.bg 旁观者？
            | 甘心吗，
            span.or-txt.bg VR
            | 即将改变世界
          p.elem.elem-16._fm-abs._fm-txtright(data-msg='[160,-66,0,0,0,0,0,17]')
            span.or-txt 威睿科技
            br
            | 将
            span.or-txt.bg 引领
            | VR新高度
            span.or-txt.bg 抓住
            | 机遇
          p.elem.elem-17._fm-abs(data-msg='[190,0,-107,180,0,0,0,17]')
            span.or-txt 成功
            br
            span.or-txt.bg 绝不是
            | ，一种说辞
            br
            span.or-txt.bg 等待
            | 从来不是目的
      section.section.sec-6
        .center._fm-rel
          img.elem.elem-1.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/light.png', data-msg='[100,0,37,114]')
          .elem.elem-2._fm-abs(data-msg='[0,0,0,90,52]')
            img.elem.img-cache._fm-block(data-src='/assets/images/vr_stuff_1/sec_4_1.png', data-msg='[302]')
          .elem.elem-3._fm-abs(data-msg='[0,0,-66,-457,0]')
            img.elem.img-cache._fm-block(data-src='/assets/images/vr_stuff_1/sec_6_1.png', data-msg='[106]')
          .elem.elem-4._fm-abs(data-msg='[0,0,-123,-164,0]')
            img.elem.img-cache._fm-block(data-src='/assets/images/vr_stuff_1/sec_6_1.png', data-msg='[106]')
          .elem.elem-5._fm-abs(data-msg='[0,138,77]')
            img.elem.img-cache._fm-block(data-src='/assets/images/vr_stuff_1/sec_4_1.png', data-msg='[215]')
          img.elem.elem-6.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_2_3.png', data-msg='[132,-34,-66]')
          span.elem.elem-7._fm-abs._fm-txtcenter(data-msg='[132,-34,-66,0,0,0,132,30]') 威睿科技
          p.elem.elem-8._fm-abs._fm-txtcenter(data-msg='[360,0,-180,57,0,0,0,21]') 未来就在眼前
          img.elem.elem-9.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/hand.png', data-msg='[46,45,34]')
      section.section.sec-7
        .center._fm-rel
          img.elem.elem-1.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_4_1.png', data-msg='[470,-276,-215]')
          img.elem.elem-2.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_4_1.png', data-msg='[363,-228,-178]')
          img.elem.elem-3.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_4_1.png', data-msg='[403,-222,-192]')
          img.elem.elem-4.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_7_1.png', data-msg='[280,-174,-132]')
          img.elem.elem-5.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/dot.png', data-msg='[21,-7,50]')
          img.elem.elem-6.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/light.png', data-msg='[83,-37,15]')
          img.elem.elem-7.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/hand.png', data-msg='[37,2,60]')
          img.elem.elem-8.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_3_2.png', data-msg='[52,76,0,0,0.1]')
          img.elem.elem-9.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_5_1.png', data-msg='[70,0,0,86,36]')
          img.elem.elem-10.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_5_1.png', data-msg='[62,0,98,47,0]')
          p.elem.elem-11._fm-abs._fm-txtright(data-msg='[152,0,0,162,0.1,0,0,17]')
            | 广电媒资聚合
            br
            span.or-txt.bg 内容资源
            | 的优势
            br
            | 实现真正意义的
            span.or-txt.bg “海量”
          p.elem.elem-12._fm-abs._fm-txtright(data-msg='[150,0,0,105,-164,0,0,17]')
            | 用户规模稳定
            br
            | 造就
            span.or-txt.bg 前景可观
            br
            | 一切不再是梦想
          p.elem.elem-13._fm-abs(data-msg='[205,135,-65,0,0,0,0,17]')
            | 广电＋VR
            br
            | 传统模式下的
            span.or-txt.bg 破冰之路
            br
            | 颠覆性的视觉体验，将是广电的
            span.or-txt.bg 严冬里的春光
      section.section.sec-8
        .center._fm-rel
          img.elem.elem-1.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/light.png', data-msg='[100,0,37,114]')
          img.elem.elem-2.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_6_1.png', data-msg='[106,0,-66,-457,0]')
          img.elem.elem-3.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_6_1.png', data-msg='[106,0,-123,-164,0]')
          img.elem.elem-4.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_8_1.png', data-msg='[215,63,89]')
          img.elem.elem-5.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_8_1.png', data-msg='[302,96,-65]')
          img.elem.elem-6.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_8_1.png', data-msg='[302,0,0,-80,84]')
          img.elem.elem-7.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_8_1.png', data-msg='[302,0,0,80,77]')
          img.elem.elem-8.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_2_3.png', data-msg='[132,-34,-66]')
          span.elem.elem-9._fm-abs._fm-txtcenter(data-msg='[132,-34,-66,0,0,0,132,30]') 威睿VR
          p.elem.elem-10._fm-abs._fm-txtcenter(data-msg='[360,0,-180,57,0,0,0,21]') 有一句话叫「破格之路」
          img.elem.elem-11.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/hand.png', data-msg='[46,45,34]')
      section.section.sec-9
        .center._fm-rel
          img.elem.elem-1.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_6_1.png', data-msg='[106,0,72,-381,0]')
          img.elem.elem-2.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_6_1.png', data-msg='[106,0,15,-164,0]')
          h1.elem.elem-3._fm-abs._fm-txtcenter._fm-bold(data-msg='[360,0,-180,210,0,0,0,30]') 我就什么也不说
          p.elem.elem-4._fm-abs._fm-txtcenter._fm-bold(data-msg='[360,0,-180,171,0,0,0,20]') 这就是坠吼的
          .elem._fm-abs(data-msg='[322,0,-161,53,0,98]')
            img.elem.bg.img-cache._fm-abs._fm-lz(data-src='/assets/images/vr_stuff_1/sec_9_1.png', data-msg='[322,6,0,0,0]')
            img.elem.img-cache._fm-right._fm-rel(data-src='/assets/images/vr_stuff_1/sec_2_3.png', data-msg='[0,0,0,0,0,98]')
            img.elem.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_9_2.png', data-msg='[34,28,0,0,33]')
            p.elem.text(data-msg='[0,0,0,0,0,0,0,12,0,0, 18,98,0,22]') 实在是不知道编什么了
          .elem._fm-abs(data-msg='[322,0,-161,-80,0,98]')
            img.elem.bg.img-cache._fm-abs._fm-lz(data-src='/assets/images/vr_stuff_1/sec_9_1.png', data-msg='[322,6,0,0,0]')
            img.elem.img-cache._fm-left._fm-rel(data-src='/assets/images/vr_stuff_1/sec_2_3.png', data-msg='[0,0,0,0,0,98]')
            img.elem.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_9_3.png', data-msg='[43,23,27]')
            p.elem.text(data-msg='[0,0,0,0,0,0,0,12,0,0, 18,12,0,108]') 我们是坠棒哒，
          .elem._fm-abs(data-msg='[322,116,-161,0,0,98]')
            img.elem.bg.img-cache._fm-abs._fm-lz(data-src='/assets/images/vr_stuff_1/sec_9_1.png', data-msg='[322,6,0,0,0]')
            img.elem.img-cache._fm-right._fm-rel(data-src='/assets/images/vr_stuff_1/sec_2_3.png', data-msg='[0,0,0,0,0,98]')
            img.elem.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_9_4.png', data-msg='[34,24,0,0,33]')
            p.elem.text(data-msg='[0,0,0,0,0,0,0,12,0,0, 18,98,0,22]') 但是你一定要表扬我
      section.section.sec-10
        .center._fm-rel
          img.elem.elem-1.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_6_1.png', data-msg='[106,0,72,-381,0]')
          img.elem.elem-2.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_6_1.png', data-msg='[106,0,15,-164,0]')
          h1.elem.elem-3._fm-abs._fm-txtcenter._fm-bold(data-msg='[360,0,-180,220,0,0,0,30]') 我们给你的
          p.elem.elem-4._fm-abs._fm-txtcenter._fm-bold(data-msg='[360,0,-180,181,0,0,0,20]') 不仅仅是一份工作
          img.elem.elem-5.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/light.png', data-msg='[100,-18,-50]')
          img.elem.elem-6.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_1_2.png', data-msg='[336,-136,-168]')
          img.elem.elem-7.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_2_3.png', data-msg='[132,-34,-66]')
          span.elem.elem-8._fm-abs._fm-txtcenter(data-msg='[132,-34,-66,0,0,0,132,30]') 梦想
          .elem._fm-abs(data-msg='[0,0,0,59,30]')
            img.elem.img-cache._fm-block(data-src='/assets/images/vr_stuff_1/sec_2_3.png', data-msg='[108]')
            img.elem.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_3_2.png', data-msg='[90,9,9]')
          .elem._fm-abs(data-msg='[0,0,30,59,0]')
            img.elem.img-cache._fm-block(data-src='/assets/images/vr_stuff_1/sec_2_3.png', data-msg='[108]')
            img.elem.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_3_2.png', data-msg='[90,9,9]')
          .elem._fm-abs(data-msg='[0,-22,0,0,113]')
            img.elem.img-cache._fm-block(data-src='/assets/images/vr_stuff_1/sec_2_3.png', data-msg='[108]')
            img.elem.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_3_2.png', data-msg='[90,9,9]')
          .elem._fm-abs(data-msg='[0,-22,113,0,0]')
            img.elem.img-cache._fm-block(data-src='/assets/images/vr_stuff_1/sec_2_3.png', data-msg='[108]')
            img.elem.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_3_2.png', data-msg='[90,9,9]')
          .elem._fm-abs(data-msg='[0,122,0,0,30]')
            img.elem.img-cache._fm-block(data-src='/assets/images/vr_stuff_1/sec_2_3.png', data-msg='[108]')
            img.elem.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_3_2.png', data-msg='[90,9,9]')
          .elem._fm-abs(data-msg='[0,122,30,0,0]')
            img.elem.img-cache._fm-block(data-src='/assets/images/vr_stuff_1/sec_2_3.png', data-msg='[108]')
            img.elem.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_3_2.png', data-msg='[90,9,9]')
      section.section.sec-11
        .center._fm-rel
          img.elem.elem-1.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/light.png', data-msg='[100,-234,-50]')
          img.elem.elem-2.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_6_1.png', data-msg='[106,0,-153,-441,0]')
          img.elem.elem-3.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_6_1.png', data-msg='[106,0,-210,-148,0]')
          img.elem.elem-4.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/sec_2_3.png', data-msg='[132,-250,-66]')
          span.elem.elem-5._fm-abs._fm-txtcenter(data-msg='[132,-250,-66,0,0,0,132,30]') (.•˘_˘•.)
          article.elem._fm-txtcenter._fm-abs(data-msg='[360,-103,-180]')
            h1.elem._fm-bold(data-msg='[250,0,0,0,0,0,0,26,3]')
              | 心若在
              br
              | 梦就在
            p.elem._fm-bold(data-msg='[0,0,0,0,0,0,37,20]') 一切来得及
            p.elem(data-msg='[0,0,0,0,0,0,0,17]')
              | 加入我们
              br
              | 就今天！
            img.elem.img-cache(data-src='/assets/images/vr_stuff_1/sec_11_1.png', data-msg='[95,0,0,0,0,0,0,20]')
            p.elem._fm-bold._fm-ita(data-msg='[0,0,0,0,0,0,0,18]')
              | 扫一扫二维码
              br
              | 求求你！！
    img.elem.img-cache._fm-abs(data-src='/assets/images/vr_stuff_1/music.png', data-msg='[34,17,0,0,17]')
    img.elem.img-cache.upArrow._fm-abs(data-src='/assets/images/vr_stuff_1/up_arrow.png', data-msg='[38,0,0,30,0,0,0,0,0,-19]')
    .loading-cover._fm-cover._fm-img._fm-abs.js._js-imgCache
      .img-inner
        .center._fm-rel
          .elem.timer._fm-abs._fm-hidden(data-msg='[112,-56,-56,0,0,112]')
            .c-1.elem._fm-circle._fm-abs(data-msg='[0,-10,-10,0,0,0,0,0,10]')
            .c-2.elem._fm-circle._fm-abs(data-msg='[0,-10,-10,0,0,0,0,0,10]')
            .num.elem._fm-rel(data-msg='[0,0,0,0,0,0,112,24]') 0%
    script(src='/assets/js/jquery-2.1.4.min.js')
    script(src='/assets/js/jquery.fullPage.min.js')
    script(src='/assets/js/H5_page.js')