@charset 'utf-8'

@import '~css/common/constant'
@import '~css/common/mixin'

global-reset()

.clearfix,
.cf
  clearfix()
.fl
  float left
.fr
  float right
  
.c-rel
  position relative
.c-abs
  position absolute
.c-fix
  position fixed
.tz
  top 0
.bz
  bottom 0
.lz
  left 0
.rz
  right 0
.cover
  width 100%
  height 100%
  top 0
  left 0
  z-index 20000
  
.c-list-n
  list-style none
.c-overhide
  overflow hidden

.c-blo
  display block
.c-inl
  display inline-block
.c-tb
  display table
  width 100%
  height 100%
.c-tbc
  display table-cell
  vertical-align middle
.c-hidden
  display none!important
.tl
  text-align left
.tc
  text-align center
.tr
  text-align right
.c-circle
  border-radius 50%

