extends ../../../common/views/layouts/default.ie8.pug

//- 站点描述
append title
  title {% if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %}
append description
  meta(name='keywords', content='{{ site.keywords }}')
  meta(name='description', content='{{ site.description }}')
  link(rel='shortcut icon', href='./assets/images/favicon.ico')

//- 静态资源
append css
  link(rel='stylesheet', href='./dist/css/main.css')
  <!--[if lte IE 8]>
    script(src='/assets/js/html5-shiv.min.js')
    script(src='/assets/js/respond.min.js')
  <![endif]-->
append js
  | {% if page.script %}
  script(src='{{ page.script }}')
  | {% endif %}

//- 正文
append content
  | {{ content }}