@charset "utf-8";
/* css-reset
============================================================*/
*,
._fm-b:before,
._fm-b:after {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
ol,
ul {
  list-style: none;
}
body {
  font: 12px/1.5em 'microsoft yahei', SF UI Text, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #3a3a3a;
}
h1 {
  font-size: 18px;
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 14px;
}
/* 固定样式
============================================================*/
/* 字号 */
._fm-f-12 {
  font-size: 12px;
}
._fm-f-13 {
  font-size: 13px;
}
._fm-f-14 {
  font-size: 14px;
}
._fm-f-15 {
  font-size: 15px;
}
._fm-f-16 {
  font-size: 16px;
}
._fm-f-17 {
  font-size: 17px;
}
._fm-f-18 {
  font-size: 18px;
}
._fm-bold {
  font-weight: bolder;
}
._fm-ita {
  font-style: italic;
}
/* 定位 */
._fm-left {
  float: left;
}
._fm-right {
  float: right;
}
._fm-txtcenter {
  text-align: center;
}
._fm-txtright {
  text-align: right;
}
._fm-txtleft {
  text-align: left;
}
._fm-vermiddle {
  vertical-align: middle;
}
._fm-rel {
  position: relative;
}
._fm-abs {
  position: absolute;
}
._fm-fix {
  position: fixed;
}
._fm-lz {
  left: 0;
}
._fm-rz {
  right: 0;
}
._fm-tz {
  top: 0;
}
._fm-bz {
  bottom: 0;
}
._fm-cover {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20000;
}
._fm-clearfix:after {
  content: '';
  display: block;
  clear: both;
}
._fm-circle {
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}
/* 结构 */
._fm-block {
  display: block;
}
._fm-inline {
  display: inline-block;
}
._fm-overhide {
  overflow: hidden;
}
._fm-hidden {
  display: none;
}
/* 溢出显示省略号 */
._fm-ellipsis {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/* 图片框 */
._fm-img {
  display: table;
  overflow: hidden;
}
._fm-img .img-inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
