@charset 'utf-8'

.header-outer
  height 100px
  .header-holder
    height 100%
  .header-content
    height @height
    z-index 1
    background-color $white

// @media screen and (min-width: 768px)
// @media screen and (max-width: 767px)
  