@charset 'utf-8'

.header-topbar
  background-color $mainRed
  color $white
  font-size 14px
  height 35px
  line-height @height
  a
    text-decoration none
    color inherit
  .item
    margin-right 40px
  

// @media screen and (min-width: 768px)
// @media screen and (max-width: 767px)
