@charset 'utf-8'

.header-main-nav
  height 80px
  line-height @height
  img
    width auto
    height 38px
    vertical-align middle
  .item
    height @height
  .logos .item
      padding-left 30px
  

  

// @media screen and (min-width: 768px)
// @media screen and (max-width: 767px)
