| ---
| layout: default2
| ---
| 
main#main-con.c-rel
  header 网易云音乐
    .fr
      .fl.icon-minus
      .fl.icon-checkbox-unchecked
      .fl.icon-cross
  .body-content.cf.c-rel
    aside.fl.c-rel
      .toggle.icon-menu
      .aside-con
      .bottom-msg.c-abs.bz.lz.cf
        img.fl.c-circle(src='/assets/images/user.jpg')
        span 用户名
        .fr
          .fl.icon-envelop
          .fl.icon-cog
    #pages-content.c-abs.rz.tz


  footer.c-abs.bz.lz
    .footer-block.fl
      img.fl(src='/assets/images/album.jpg')
    .footer-block.ctrl-block.fl
      .play.icon-play3.c-circle.tc.c-inl
      .next.icon-next2.c-circle.tc.c-inl
      .progress-bar.fr


script(src='{{ site.baseurl }}/dist/js/netease.js')