@charset "utf-8"

@import "nib"

@import "../../common/style/common/mixin"
@import "./assets/font.css"
@import "./assets/icomoon.css"
@import "./common/constant"
@import "./common/reset"
@import "./common/common"


lesscss-percentage(n)
  (n * 100)%
/*********
*标签容器*
**********/
#sidebar .tag-container
  tag-bgc = lighten(rgb(247, 139, 118, 1), 10%)
  arrow-width = 7px
  background-image none
  line-height 30px
  letter-spacing 1.5em
  padding-left (arrow-width * 2)
  li
    background tag-bgc
    line-height normal
    letter-spacing normal
    display inline-block
    margin 0
    padding 2px (3px + arrow-width) 3px 7px
    position relative
    box-shadow 1px 1px 10px #bbb
    transition background .5s
    cursor pointer
    &:before
      content ''
      padding 0
      position absolute
      top 0
      left - ((arrow-width * 2) + 1) ((arrow-width * 2) + 1)
      border 1px solid transparent
      border-width 10px arrow-width 11px
      border-right-color tag-bgc
      transition border-right-color 0.5s
    &:hover
      a
        color white
      background darken(tag-bgc, 10%)
      &:before
        border-right-color darken(tag-bgc, 10%)
    a
      color #e85244
/*********
*网站概述*
**********/
#sidebar .site-about
  img-size = 72px
  dashed-border = 1px dashed darken(rgb(206, 206, 206, 1), 10%)
  .face-img
    float left
    width img-size
    height img-size
    line-height img-size
    overflow hidden
    padding ((78 - img-size) / 2)
    border dashed-border
    img
      width 100%
      height auto
  .self-abstract
    ab-font-size = 19px
    margin-left 95px
    h2
      font-size ab-font-size
      font-family 'Nova Square', 'microsoft yahei', cursive
      line-height (ab-font-size * 2)
      margin 0
    p
      height (img-size - (ab-font-size * 2))
      margin 0
  ul
    background none
    padding 0
    border-left dashed-border
    margin-top 20px
    li
      padding 0
      margin 0
      background none
      display inline-block
      width 33.3%
      box-sizing border-box
      text-align center
      border-right dashed-border
      text-shadow 1px 1px 3px lighten(rgb(143, 143, 143, 1), 10%)
      &:before
        content ''
        padding 0
  &:after
    content ' '
    clear both
/*************
*多说组件样式*
**************/
.at-index-page .ds-meta
  display none
#sidebar .ds-thread.textwidget
  li:before
    content ''
    padding 0
  .ds-post .ds-sync label
    display none
.no-result-there
  display table
  width 100%
  height 150px
  p
    display table-cell
    vertical-align middle
    text-align center
.link-ico
  vertical-align middle
/*********
*标签列表*
*********/
.page-tag-list
  divi-dist = 15px
  setDotPosition(dot-radius, line-height)
    content ''
    position absolute
    left - dot-radius dot-radius
    top (line-height - dot-radius)
    border dot-radius solid darken(rgb(245, 245, 245, 1), 20%)
    border-radius dot-radius
  h2
    margin-bottom - divi-dist divi-dist
    padding-left 19px
    margin-left 21px
    position relative
    z-index 2
    &:before
      setDotPosition(4px, 16)
  ul
    position relative
    list-style none
    padding-top (divi-dist + 15)
    li
      padding 12px 0 12px 103px
      margin-left 2px
      position relative
      border-bottom 1px dashed darken(rgb(245, 245, 245, 1), 20%)
      span
        position absolute
        top 12px
        left 0
        float left
        padding 0 10px 0 20px
        &:before
          setDotPosition(3px, 10)
    &:before
      content ''
      position absolute
      top 0
      left 0
      height 100%
      width 4px
      background darken(rgb(245, 245, 245, 1), 10%)
      background none
  strong
    color red
/*********
*文章详情*
*********/
.post-title
  text-align center
  margin-top 15px
.post-msg
  list-style none
  text-align center
  margin 30px 0 45px
  li
    display inline-block
    padding-left 3px
    padding-right 3px
.post-content p
  text-indent 2em
  font-size 114.3%
@media only screen and (max-width: 767px)
  .post-content p
    font-size 100%


