@charset "utf-8"

@import "nib"

@import "../../common/style/common/mixin"
@import "./assets/font.css"
@import "./assets/icomoon.css"
@import "./common/constant"
@import "./common/css-reset"
@import "./common/common"


/* 手机端侧边导航栏 */
.nav-switch
  position fixed
  top 130px
  right 0
  width 50px
  height 37px
  background-image server-url('images/gh-pages/navSwitch.png')
  background-position top left
  display none
  cursor pointer

.aside-nav
  position fixed
  width 100%
  height 100%
  top 0
  left 0
  background-color rgba(0, 0, 0, 0.5)
  z-index 1000
  display none

.nav-outer
  width 200px
  height 100%
  float right
  background-color #f2ede9
  transform translate(200px)
  transition transform .3s
  .widget-title
    font-size 20px
    padding 20px 30px
    margin 0
    color #e85244
  ul
    list-style none
    margin 0 30px
    padding 0
    background server-url('images/gh-pages/dotted.png') repeat-x top
  li
    background server-url('images/gh-pages/dotted.png') repeat-x bottom
    padding 6px 0 8px 0
    &:before
      content "\00bb"
      padding-right 5px
    a
      color #8f8f8f

.nav-outer li a:hover,
.nav-outer li a.current
  color #e85244

@media only screen and (max-width: 767px)
  .nav-switch
    display block
  .aside-nav
    &.slideLeft
      display block
  .slideLeft
    &.in
      .nav-outer
        transform translate(0)


#sidebar
  /* 标签容器 */
  .tag-container
    background-image none
    line-height 30px
    letter-spacing 1.5em
    padding-left 14px
    li
      background #fab4a6
      line-height normal
      letter-spacing normal
      display inline-block
      margin 0
      padding 2px 10px 3px 7px
      position relative
      box-shadow 1px 1px 10px #bbb
      transition background .5s
      cursor pointer
      &:before
        content ''
        padding 0
        position absolute
        top 0
        left -15px
        border 1px solid transparent
        border-width 10px 7px 11px
        border-right-color #fab4a6
        transition border-right-color 0.5s
      &:hover
        background #f78b76
        a
          color white
        &:before
          border-right-color #f78b76
      a
        color #e85244
  /* 网站概述 */
  .site-about
    .face-img
      float left
      width 72px
      height 72px
      line-height 72px
      overflow hidden
      padding 3px
      border 1px dashed #b5b5b5
      img
        width 100%
        height auto
    .self-abstract
      margin-left 95px
      h2
        font-size 19px
        font-family 'Nova Square', 'microsoft yahei', cursive
        line-height 38px
        margin 0
      p
        height 34px
        margin 0
    ul
      background none
      padding 0
      border-left 1px dashed #b5b5b5
      margin-top 20px
      li
        padding 0
        margin 0
        background none
        float left
        width percentage(1 / 3)
        box-sizing border-box
        text-align center
        border-right 1px dashed #b5b5b5
        text-shadow 1px 1px 3px #a9a9a9
        &:before
          content ''
          padding 0
    &:after
      content ' '
      clear both
  .ds-thread
    &.textwidget
      li
        &:before
          content ''
          padding 0
      .ds-post
        .ds-sync
          label
            display none

/* 多说组件样式 */
.at-index-page
  .ds-meta
    display none

.no-result-there
  display table
  width 100%
  height 150px
  p
    display table-cell
    vertical-align middle
    text-align center

.link-ico
  vertical-align middle


/* 标签列表 */
.page-tag-list
  h2
    margin-bottom -15px
    padding-left 19px
    margin-left 21px
    position relative
    z-index 2
    &:before
      content ''
      position absolute
      left -4px
      top 12px
      border 4px solid #c2c2c2
      border-radius 4px
  ul
    position relative
    list-style none
    padding-top 30px
    li
      padding 12px 0 12px 103px
      margin-left 2px
      position relative
      border-bottom 1px dashed #c2c2c2
      span
        position absolute
        top 12px
        left 0
        float left
        padding 0 10px 0 20px
        &:before
          content ''
          position absolute
          left -3px
          top 7px
          border 3px solid #c2c2c2
          border-radius 3px
    &:before
      content ''
      position absolute
      top 0
      left 0
      height 100%
      width 4px
      background #dcdcdc
      background none
  strong
    color red

/* 文章详情 */
.post-title
  text-align center
  margin-top 15px

.post-msg
  list-style none
  text-align center
  margin 30px 0 45px
  li
    display inline-block
    padding-left 3px
    padding-right 3px

.post-content
  p
    text-indent 2em
    font-size 114.3%

@media only screen and (max-width: 767px)
  .post-content
    p
      font-size 100%

