| ---
| layout: default
| ---
| 
.home
  ul.posts
    | {% for post in site.posts %}
    li
      span {{ post.date | date: site.date_format }}
      a(href='{{ post.url | prepend: site.baseurl }}') {{ post.title }}
    | {% endfor %}