doctype html
html(lang='zh-CN')
  head
    meta(charset='utf-8')
    // 兼容性调整
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1.0')
    |     
    meta(name='renderer', content='webkit')
    // 视口调整
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui')
    |     
    meta(name='apple-mobile-web-app-capable', content='yes')
    |     
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    |     
    meta(name='format-detection', content='telephone=no, email=no')
    |     
    link(rel='shortcut icon', href='/assets/images/favicon.ico')
    |     
    title demo
    |     
    |     
    link(rel='stylesheet', href='/assets/css/base.css')
    |     
    |     
    link(rel='stylesheet', href='/assets/css/jquery.fullPage.min.css')
    |     
    |     
    link(rel='stylesheet', href='/assets/css/VR_hire.css')
  body
    // 星空
    .bg-star._fm-cover._fm-img._fm-abs
      .img-inner
        .center._fm-rel
          .elem._fm-abs(data-msg='[1080,-960,-540,0,0,1920]')
            img.elem.elem-1.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/line.png', data-msg='[200,-120,160]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-2.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/line.png', data-msg='[200,0.01,107]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-3.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/line.png', data-msg='[200,20,660]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-4.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/line.png', data-msg='[270,-37,948]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-5.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/line.png', data-msg='[200,410,425]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-6.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/line.png', data-msg='[200,514,435]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-7.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/line.png', data-msg='[270,890,47]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-8.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/line.png', data-msg='[200,830,900]')
    .main-content.js._js-onResize(data-height='1920', data-ratio='parseFloat(16 / 9)')
      // 威睿 未来就在眼前
      section.section.sec-1.active
        .center._fm-rel
          img.elem.elem-1.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_1_1.png', data-msg='[1080,-960,-540]')
          | &#x9;&#x9;&#x9;
          .elem._fm-abs(data-msg='[0,0,0,114,-426]')
            img.elem.elem-2.img-cache._fm-block(data-src='/assets/images/vr_stuff_2/sec_1_2.png', data-msg='[852]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-3.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_1_3.png', data-msg='[1004,0,-76,110]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-4.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_1_4.png', data-msg='[600,0,126,-60]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-5.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_1_5.png', data-msg='[980,0,-64,-170]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-6.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_1_6.png', data-msg='[534,0,159,52]')
          | &#x9;&#x9;&#x9;
          .elem._fm-abs(data-msg='[890,110,-445]')
            img.elem.elem-7.img-cache._fm-block(data-src='/assets/images/vr_stuff_2/sec_1_7.png', data-msg='[606]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-8.img-cache._fm-block._fm-rel(data-src='/assets/images/vr_stuff_2/sec_1_8.png', data-msg='[890,18]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-9.img-cache._fm-block._fm-rel(data-src='/assets/images/vr_stuff_2/sec_1_9.png', data-msg='[525,64]')
      // 引领VR新高度
      section.section.sec-2
        .center._fm-rel
          .elem.bg._fm-abs(data-msg='[1080,-960,-540,0,0,1920]')
            img.elem.elem-1.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_2_1.png', data-msg='[1044,150,18]')
          | &#x9;&#x9;&#x9;
          .elem._fm-abs(data-msg='[0,-590,-458]')
            img.elem.elem-2.img-cache._fm-block(data-src='/assets/images/vr_stuff_2/sec_2_2.png', data-msg='[686]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-3.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_2_3.png', data-msg='[777,20,-30]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-4.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_2_4.png', data-msg='[418,0,0,-167,50]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-5.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_2_5.png', data-msg='[1080,-90,-440]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-6.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_2_5.png', data-msg='[1080,0,0,-90,-400]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-7.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_2_6.png', data-msg='[460,100,113]')
          | &#x9;&#x9;&#x9;
          .elem.block-1._fm-abs(data-msg='[600,-248,-300,0,0,600]')
          | &#x9;&#x9;&#x9;
          .elem.block-2._fm-abs(data-msg='[600,-711,0,0,491,600]')
          | &#x9;&#x9;&#x9;
          .elem.block-3._fm-abs(data-msg='[600,14,0,0,392,600]')
          | &#x9;&#x9;&#x9;
          .elem.block-4._fm-abs(data-msg='[600,0,-400,634,0,600]')
          | &#x9;&#x9;&#x9;
          .elem.block-5._fm-abs(data-msg='[600,548,0,0,-298,600]')
          | &#x9;&#x9;&#x9;
          .elem.block-6._fm-abs(data-msg='[790,40,383,0,0,790]')
      // 我们相信 成功不是一种说辞
      section.section.sec-3
        .center._fm-rel
          .elem._fm-abs(data-msg='[1080,-960,-540,0,0,1920]')
            img.elem.elem-1.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_2_1.png', data-msg='[1044,150,18]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-2.img-cache._fm-abs._fm-bz(data-src='/assets/images/vr_stuff_2/sec_3_1.png', data-msg='[40,0,240]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-3.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_3_1.png', data-msg='[40,0,0,-100,180]')
          | &#x9;&#x9;&#x9;
          .elem._fm-abs(data-msg='[0,-838,-383]')
            img.elem.elem-4.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_3_2.png', data-msg='[778,80,-120]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-5.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_3_3.png', data-msg='[749,0,0,-30,0.01]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-6.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_3_4.png', data-msg='[250,-160,-125]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-7.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_3_4.png', data-msg='[460,0,0,-300,-230]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-8.img-cache._fm-block(data-src='/assets/images/vr_stuff_2/sec_3_5.png', data-msg='[766]')
          | &#x9;&#x9;&#x9;
          .elem._fm-abs._fm-txtcenter(data-msg='[0,-547,-465]')
            img.elem.elem-9.img-cache._fm-block(data-src='/assets/images/vr_stuff_2/cover_1.png', data-msg='[930]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-10.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_2_5.png', data-msg='[1404,415,-290]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-11.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_3_7.png', data-msg='[330,382,300 + 25]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-12.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_3_8.png', data-msg='[559,267.5,185.5 + 25]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-13.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_3_9.png', data-msg='[786,154,72 + 25]')
            | &#x9;&#x9;&#x9;&#x9;
            span.elem.elem-14._fm-abs(data-msg='[200,175,100,0,0,0,56,0,0,200]') &#x63A8;&#x5E7F;
            | &#x9;&#x9;&#x9;&#x9;
            span.elem.elem-15._fm-abs(data-msg='[180,165,668,0,0,0,56,0,0,180]') &#x7814;&#x53D1;
            | &#x9;&#x9;&#x9;&#x9;
            span.elem.elem-16._fm-abs(data-msg='[138,680,243,0,0,0,56,0,0,138]') &#x6574;&#x5408;
            | &#x9;&#x9;&#x9;&#x9;
            span.elem.elem-17._fm-abs(data-msg='[150,784,700,0,0,0,56,0,0,150]') &#x5F15;&#x8FDB;
      // 等待从来都不是目的 抓住机遇
      section.section.sec-4
        .center._fm-rel
          .elem.bg._fm-abs(data-msg='[1080,-960,-540,0,0,1920]')
            img.elem.elem-1.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_2_1.png', data-msg='[1044,150,18]')
          | &#x9;&#x9;&#x9;
          .elem._fm-abs(data-msg='[0,-838,-343]')
            img.elem.elem-2.img-cache._fm-block(data-src='/assets/images/vr_stuff_2/sec_2_2.png', data-msg='[686]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-3.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_2_3.png', data-msg='[777,20,-30]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-4.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_2_4.png', data-msg='[418,0,0,-167,50]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-5.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_2_5.png', data-msg='[1080,-90,-440]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-6.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_2_5.png', data-msg='[1080,0,0,-90,-400]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-7.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_4_1.png', data-msg='[574,17,50]')
          | &#x9;&#x9;&#x9;
          .elem._fm-abs._fm-txtcenter(data-msg='[1080,-328,-540]')
            img.elem.elem-8.img-cache._fm-abs._fm-tz._fm-lz(data-src='/assets/images/vr_stuff_2/sec_4_2.png', data-msg='[479]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-9.img-cache._fm-abs._fm-tz._fm-rz(data-src='/assets/images/vr_stuff_2/sec_4_3.png', data-msg='[311]')
            | &#x9;&#x9;&#x9;&#x9;
            .elem.elem-10._fm-abs(data-msg='[300,195,175,0,0,0,56,0,0,300]')
              span &#x5E02;&#x573A;&#x603B;&#x76D1;
            | &#x9;&#x9;&#x9;&#x9;
            .elem.elem-11._fm-abs(data-msg='[300,370,0,0,230,0,56,0,0,300]')
              span &#x8FD0;&#x8425;&#x603B;&#x76D1;
            | &#x9;&#x9;&#x9;&#x9;
            .elem.elem-12._fm-abs(data-msg='[300,670,340,0,0,0,56,0,0,300]')
              span &#x5B9E;&#x4E60;&#x751F;
      // 不做时代变革的旁观者
      section.section.sec-5
        .center._fm-rel
          .elem._fm-abs(data-msg='[0,-758,-312]')
            img.elem.elem-1.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_3_2.png', data-msg='[778,50,-140]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-2.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_3_3.png', data-msg='[749,0,0,-60,-150]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-3.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_3_4.png', data-msg='[250,-190,-70]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-4.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_3_4.png', data-msg='[460,0,0,-330,-200]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-5.img-cache._fm-block(data-src='/assets/images/vr_stuff_2/sec_5_1.png', data-msg='[624]')
          | &#x9;&#x9;&#x9;
          .elem.elem-6.discr._fm-abs(data-msg='[930,-547,-465,0,0,1094,64]')
            p
              i.elem.elem-7(data-msg='[83]') 1
              span.elem-8 &#x5305;&#x4F60;&#x6EE1;&#x610F;&#x7684;&#x85AA;&#x6C34;
            | &#x9;&#x9;&#x9;&#x9;
            p
              i.elem.elem-9(data-msg='[83]') 2
              span.elem-10 &#x4E94;&#x9669;&#x4E00;&#x91D1;
            | &#x9;&#x9;&#x9;&#x9;
            p
              i.elem.elem-11(data-msg='[83]') 3
              span.elem-12 &#x63D0;&#x4F9B;&#x4EA4;&#x901A;&#x8865;&#x8D34;
            | &#x9;&#x9;&#x9;&#x9;
            p
              i.elem.elem-13(data-msg='[83]') 4
              span.elem-14 &#x805A;&#x4F1A;&#x55E8;&#x5230;&#x7206;
            | &#x9;&#x9;&#x9;&#x9;
            p
              i.elem.elem-15(data-msg='[83]') 5
              span.elem-16 &#x5E7F;&#x9614;&#x7684;&#x804C;&#x4E1A;&#x5E73;&#x53F0;
      // 威睿与你同在通往未来的道路上
      section.section.sec-6
        .center._fm-rel
          .elem._fm-abs(data-msg='[1080,-960,-540,0,0,1920]')
            img.elem.elem-1.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_2_1.png', data-msg='[1044,150,18]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-2.img-cache._fm-abs._fm-bz(data-src='/assets/images/vr_stuff_2/sec_3_1.png', data-msg='[40,0,240]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-3.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_3_1.png', data-msg='[40,0,0,-100,180]')
          | &#x9;&#x9;&#x9;
          .elem.elem-4.discr._fm-abs._fm-txtcenter(data-msg='[930,-547,-465,0,0,1094,42]')
            img.elem.elem-5.img-cache._fm-block(data-src='/assets/images/vr_stuff_2/sec_6_1.png', data-msg='[629]')
            | &#x9;&#x9;&#x9;&#x9;
            .elem-6.wechat - &#x5FAE;&#x4FE1;&#x5173;&#x6CE8; -
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-7.img-cache._fm-block(data-src='/assets/images/vr_stuff_2/sec_6_2.png', data-msg='[400]')
            | &#x9;&#x9;&#x9;&#x9;
            .elem-8 &#x957F;&#x6309;&#x8BC6;&#x522B;&#x56FE;&#x4E2D;&#x4E8C;&#x7EF4;&#x7801;
      // 联系方式
      section.section.sec-7
        form.center._fm-rel(action='', method='POST')
          .elem._fm-abs(data-msg='[1080,-960,-540,0,0,1920]')
            img.elem.elem-1.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_2_1.png', data-msg='[1044,150,18]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-2.img-cache._fm-abs._fm-bz(data-src='/assets/images/vr_stuff_2/sec_3_1.png', data-msg='[40,0,240]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-3.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_3_1.png', data-msg='[40,0,0,-100,180]')
          | &#x9;&#x9;&#x9;
          .elem.elem-4.discr._fm-abs._fm-txtcenter(data-msg='[930,-547,-465,0,0,1094,50]')
            input.elem.elem-5(type='text', placeholder='姓名', data-msg='[720]')
            | &#x9;&#x9;&#x9;&#x9;
            input.elem.elem-6(type='text', placeholder='联系方式', data-msg='[720]')
            | &#x9;&#x9;&#x9;&#x9;
            input.elem.elem-7(type='text', placeholder='邮箱', data-msg='[720]')
            | &#x9;&#x9;&#x9;&#x9;
            button.elem.elem-8(type='submit', data-msg='[300]') &#x63D0;&#x4EA4;
      // 威睿科技 结语
      section.section.sec-8
        .center._fm-rel
          .elem._fm-abs(data-msg='[1080,-960,-540,0,0,1920]')
            img.elem.elem-1.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_2_1.png', data-msg='[1044,150,18]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-2.img-cache._fm-abs._fm-bz(data-src='/assets/images/vr_stuff_2/sec_3_1.png', data-msg='[40,0,240]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-3.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_3_1.png', data-msg='[40,0,0,-100,180]')
          | &#x9;&#x9;&#x9;
          .elem._fm-abs(data-msg='[0,-547,-465]')
            img.elem.elem-4.img-cache._fm-block(data-src='/assets/images/vr_stuff_2/cover_1.png', data-msg='[930]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-5.img-cache.circle._fm-abs(data-src='/assets/images/vr_stuff_2/cover_2.png', data-msg='[564,210,183]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-6.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_8_1.png', data-msg='[66,330,432]')
            | &#x9;&#x9;&#x9;&#x9;
            img.elem.elem-7.img-cache._fm-abs(data-src='/assets/images/vr_stuff_2/sec_8_2.png', data-msg='[670,210-53,183-53]')
            | &#x9;&#x9;&#x9;&#x9;
            .elem.elem-8._fm-circle._fm-abs(data-msg='[720,210-78,183-79,0,0,718]')
    img.elem.next-up.img-cache._fm-abs._fm-bz(data-src='/assets/images/vr_stuff_2/next.png', data-msg='[34,0,0,83,0,0,0,0,-17]')
    // 加载页面
    .loading-cover._fm-cover._fm-img._fm-abs.js._js-imgCache
      .img-inner
        .center._fm-rel._fm-hidden
          .elem._fm-abs(data-msg='[0,-547,-465]')
            img.elem.circle._fm-abs(src='/assets/images/vr_stuff_2/cover_2.png', data-msg='[564,210,183]')
            | &#x9;&#x9;&#x9;&#x9;
            .elem.num._fm-abs(data-msg='[430,277,251,0,0,430,65,0,0,430]') 0%
    img.img-cache._fm-hidden(data-src='/assets/images/vr_stuff_2/bg.png')
    audio#bgm(src='', loop='')
    |     
    |     
    script(src='/assets/js/jquery-2.1.4.min.js')
    |     
    |     
    script(src='/assets/js/jquery.fullPage.min.js')
    |     
    |     
    script(src='/assets/js/VR_hire.js')
