// 样式常量

$base-font-family = 'Roboto', 'microsoft yahei', serif, Arial
$base-font-size = 16px
$small-font-size = 0.875rem
$base-line-height = 1.5

$text-color = #333
$link-color = #0074d9
$meta-color = #a0a0a0
$border-color = #ddd

$max-width = 1020px

$color-black = #111
$color-gray = #aaa
$color-silver = #ddd
$color-white = #fff
$color-aqua = #7fdbff
$color-blue = #0074d9
$color-navy = #001f3f
$color-teal = #39cccc
$color-green = #2ecc40
$color-olive = #3d9970
$color-lime = #01ff70
$color-yellow = #ffdc00
$color-orange = #ff851b
$color-red = #ff4136
$color-fuchsia = #f012be
$color-purple = #b10dc9
$color-maroon = #85144b

$page-red = #e85244