doctype html

html(lang='zh-CN')
  head
    //- 浏览器适配
    include ../components/meta
    block title
    
    //- 站点描述
    block description
    //- 样式
    block css
  body
    block content
    block js
